@model List<Model.EF.MenuContent>
@{
    var user = (OnlineShop.Common.UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
}
<div class="call">
    <p><span>Need help?</span> call us <span class="number">1-22-3456789</span></span></p>
</div>
<div class="account_desc">
    <ul>

        @if (user != null)
        {
                <li>Xin chào :<a href="#">@user.UserName</a></li>
                <li>@Html.ActionLink("Đăng xuất", "Loguot", "User")</li>
        }
        else
        {
            foreach (var item in Model)
            {
                <li><a href ="@item.Link" target ="@item.Target">@item.Text</a></li>
            }
        }


    </ul>
</div>
<div class="clear"></div>
